@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    padding: 0;
    margin: 0;
    
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.cabecalho{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #F8F9FA;
    border-radius: 0px 0px 0px 0px;
    color: #202124;
    gap: 50px;
}

.cabeçalho-menu {
    display: flex;
    gap: 50px;
}
  
.cabeçalho-menu-item {
    font-family: 'Gotham Black', sans-serif;
    color: #202124;
    font-size: 10;
}

.cabeçalho-menu-item:hover{
    opacity: 0.7;
}

.logo{
    padding: 0px;    
}

.quem-somos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    width: 100%;
    background-color: #F8F9FA;
}

.para-onde-vamos{    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    width: 100%;
    background-color: #DADCE0;
    
}

.de-onde-viemos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    width: 100%;
    background-color: #BDC1C6;

}

.quem-somos-titulo{
    font-family: 'Gotham Black', sans-serif;
    color: #202124;
    padding: 20px;
}

.quem-somos-descricao{
    font-family: 'Gotham', sans-serif;
    color: #202124;
    width: 50%;
    padding: 50px;
}

.carros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

}

.informatica{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;     

}

.titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham Black', sans-serif;
    color: #202124;
    background-color: #F8F9FA;
    height: 50px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.segmentos3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.segmentos2{
    padding: 0%;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham Black', sans-serif;
    color: #202124;
    font-size: 15px;
}

.preco{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham Black', sans-serif;
    color: #202124;
    font-size: 25px;
}

.descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gotham', sans-serif;
    color: #202124;
    font-size: 15px;

}

.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo{
    display: flex;
    flex-direction: row;
    background-color: #F8F9FA;
    font-family: 'Gotham Black', sans-serif;
    border-radius: 0px 0px 10px 10px;
}

.conteudo2{
    display: flex;
    flex-direction: row;
    background-color: #F8F9FA;
    font-family: 'Gotham Black', sans-serif;
    border-radius: 0px;
    border-radius: 0px 0px 10px 10px;
}

.conteudo3{
    display: flex;
    flex-direction: row;
    background-color: #F8F9FA;
    font-family: 'Gotham Black', sans-serif;
}

.obj{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #202124;
    padding: 50px;
    width: 200px;
}


.widgets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.widgets2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

/*.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #F8F9FA; 
    border-radius: 0px 0px 0px 0px; 
      
}
*/
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F8F9FA;
    height: 200px;
    bottom: 0;

}
.mesiga{
    font-family: 'Gotham Black', sans-serif;

}

.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
    border-top: 0px solid #202124;
    color: #202124;
    background-color: #DADCE0;
    font-family: 'Gotham Black', sans-serif;
}

.descrip{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #202124;
    font-family: 'Playfair Display', serif;
}

.fa{
    padding: 15px;
    font-size: 30px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
  
.fa:hover {
    opacity: 0.7;
}
  

.fa-facebook {
    background: #202124;
    color: white;
    border-radius: 10px;
}
  
.fa-twitter {
    background: #202124;
    color: white;
    border-radius: 10px;
}
  
.fa-instagram {
  background: #202124;
  color: white;
  border-radius: 10px;
}

.fa-linkedin {
    background: #202124;
    color: white;
    border-radius: 10px;
}

.fa-whatsapp {
    background: #202124;
    color: white;
    border-radius: 10px;
}



