@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    padding: 0;
    margin: 0;
    
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #F8F9FA;
    border-radius: 0px 0px 0px 0px;
    color: #202124;
}


.titulo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #202124;
    
}

.carros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

}

.informatica{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;     

}

.titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    color: #202124;
    background-color: #F8F9FA;
    height: 50px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.segmentos3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.segmentos2{
    padding: 0%;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    color: #202124;
    font-size: 15px;
}

.preco{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    color: #202124;
    font-size: 25px;
}

.descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    color: #202124;
    font-size: 15px;

}

.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.conteudo{
    display: flex;
    flex-direction: row;
    background-color: #F8F9FA;
    font-family: 'Playfair Display', serif;
    border-radius: 0px 0px 10px 10px;
}

.conteudo2{
    display: flex;
    flex-direction: row;
    background-color: #F8F9FA;
    font-family: 'Playfair Display', serif;
    border-radius: 0px;
    border-radius: 0px 0px 10px 10px;
}

.conteudo3{
    display: flex;
    flex-direction: row;
    background-color: #F8F9FA;
    font-family: 'Playfair Display', serif;
}

.obj{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #202124;
    padding: 50px;
    width: 200px;
}


.widgets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.widgets2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #F8F9FA; 
    border-radius: 0px 0px 0px 0px;   
}

.direitos{
    display: flex;
    color: #202124;
    font-family: 'Playfair Display', serif;
    
    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
  
.fa:hover {
    opacity: 0.7;
}
  

.fa-facebook {
    background: #202124;
    color: white;
    border-radius: 20px;
}
  
.fa-twitter {
    background: #202124;
    color: white;
    border-radius: 20px;
}
  
.fa-instagram {
  background: #202124;
  color: white;
  border-radius: 20px;
}

.fa-linkedin {
    background: #202124;
    color: white;
    border-radius: 20px;
  }

